.project {
    background-color: #f0fbfc;
    overflow-y:auto;
    overflow-x:hidden;

    // &__title {
    //     font-size: 30px;
    //     line-height: 37px;
    //     letter-spacing: 1.8px;
    // }

    // &__subtitle {
    //     font-size: 16px;
    //     letter-spacing: 1.78px;
    //     line-height: 29px;
    //     margin-bottom:40px;
    //     @media screen and (max-width: $screen-md) {
    //         margin-bottom:24px;
    //     }
    // }

    &__paragraph {
        margin-bottom: 20px;
    }

    &__notice {
        font-size: 12px;
        line-height: 22px;
        text-align: justify;

        @media screen and (max-width: $screen-md) {
            line-height: 26px;
        }
    }
}